[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioquic = "==0.8.7"
cryptography = "<5"
asgiref = "*"
dnslib = "*"
flask = "<2.2"
httpbin = "*"
starlette = "*"
werkzeug = "<2.1"
wsproto = "*"
termcolor = "*"

[dev-packages]

[requires]
python_version = "3.10"
